{%  extends 'home/base.html' %}

{% block content %}
    <div class="col-md-4" id="welcome-block">
        <div class="col-md-offset-1">
            <div id="welcome">
                <h1>Hello There {{ user.first_name }}</h1>
                <p>Welcome to: {{ league.name }}</p>
            </div>
            <div id="current-opponent">
                {%  if opponent.team_name != '' %}
                    <p>Your opponent this week: {{ opponent.team_name }}</p>
                {% else %}
                    <p>The schedule has not been set yet</p>
                {% endif %}
            </div>
            <hr/>
            <div>
                <p>Message Board</p>
                <p>To come in the future</p>
            </div>
            <hr/>
            <div>
                <p id="pickError" class="text-danger">Picks are locked for the week</p>
                <p id="matchupError" class="text-danger">Matchups are locked until the first game begins</p>
                <p id="hasNotPicked" class="text-danger">You must have made your selections before viewing the matchup</p>
            </div>
            {% if league.locked_picks %}
                <a id="viewLockedPicks" class="btn btn-primary" href="#">Make Picks</a>
            {% else %}
                <a class="btn btn-primary" href="/picks/picks">Make Picks</a>
            {% endif %}
            {% if league.locked_matchups %}
                <a id="viewLockedMatchup" class="btn btn-default" href="#">View Matchup</a>
            {% elif not u.profile.has_picked %}
                <a id="viewMatchupWithoutPicking" class="btn btn-default" href="#">View Matchup</a>
            {% else %}
                <a class="btn btn-default" href="/home/matchup">View Matchup</a>
            {% endif %}
            <a class="btn btn-default" href="/registration/logout">Log out</a>
        </div>
    </div>

    <div class="col-md-7">
        <h2>Standings</h2>
        <table class="table">
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
            </tr>
             {% for record in records %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/profiles/profiles/{{ record.profile.user_id }}">{{ record.profile.team_name }}</a></td>
                <td>{{ record.wins }}</td>
                <td>{{ record.losses }}</td>
                <td>{{ record.ties }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}