<h1>Welcome {{ user.first_name }}</h1>

<p>Your next game is against {{ user.first_name }}</p>

<hr/>
<table border="1">
    <tr>
        <th>Home Team</th>
        <th>Away Team</th>
    </tr>
    <tr>
        <td>
            <label for="arsenal">Arsenal</label>
            <input type="radio" id="arsenal" value="Arsenal">
        </td>
        <td>
            <label for="leicester">Leicester</label>
            <input type="radio" id="leicester" value="Arsenal">
        </td>
    </tr>
</table>
<hr/>
<a href="/registration/logout">Log out</a>