{% extends 'home/base.html' %}

{% block content %}
    <div class="container p-none">
        <div class="col-md-6 picks-form">
            {% load home_filters %}
            <div>
                <h2>Your selections Total Points: {{ user_points }} </h2>
            </div>
            <table class="table">
                <tr>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Selection</th>
                    <th>Margin</th>
                    <th>Actual Winner</th>
                    <th>Actual Margin</th>
                </tr>
                {% for pick in user %}
                    <tr>
                        <td>{{ pick.game.home_team_name }}</td>
                        <td>{{ pick.game.away_team_name }}</td>
                        <td class="text-info">{{ pick.team_picked }}</td>
                        <td class="text-info">{{ pick.margin }}</td>
                        {% if pick.game.winning_team != null %}
                            {% if pick.is_correct %}
                                <td class="text-success">{{ pick.game.winning_team }}</td>
                            {% elif not pick.is_correct %}
                                <td class="text-danger">{{ pick.game.winning_team }}</td>
                            {% else %}
                                <td>{{ pick.game.winning_team }}</td>
                            {% endif %}
                        {% else %}
                            <td>Game has not concluded</td>
                        {% endif %}
                        {% if pick.game.margin != null %}
                            <td>{{ pick.game.margin }}</td>
                        {% else %}
                            <td>Game has not concluded</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6 picks-form">
            {% load home_filters %}
            <div>
                <h2>Opponent's selections Total Points: {{ opponent_points }}</h2>
            </div>
            {% if not opp_picks %}
                <p>Your opponent has not completed their picks</p>
            {% else %}
                <table class="table">
                    <tr>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Selection</th>
                        <th>Margin</th>
                        <th>Actual Winner</th>
                        <th>Actual Margin</th>
                    </tr>
                        {% for pick in opp_picks %}
                            <tr>
                                <td>{{ pick.game.home_team_name }}</td>
                                <td>{{ pick.game.away_team_name }}</td>
                                <td class="text-info">{{ pick.team_picked }}</td>
                                <td class="text-info">{{ pick.margin }}</td>
                                {% if pick.game.winning_team != null %}
                                    {% if pick.is_correct %}
                                        <td class="text-success">{{ pick.game.winning_team }}</td>
                                    {% elif not pick.is_correct %}
                                        <td class="text-danger">{{ pick.game.winning_team }}</td>
                                    {% else %}
                                        <td>{{ pick.game.winning_team }}</td>
                                    {% endif %}
                                {% else %}
                                    <td>Game has not concluded</td>
                                {% endif %}
                                {% if pick.game.margin != null %}
                                    <td class="text-success">{{ pick.game.margin }}</td>
                                {% else %}
                                    <td>Game has not concluded</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}