<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Fantasy Soccer</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</head>
<!-- Navbar shamelessly stolen from bootstrap's website -->
<body>
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/home/">MyFantasySoccer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href='/picks/picks'>Make Picks</a></li>
            </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <span class="col-md-8 col-md-offset-2 text-muted"></span>
    </footer>
</body>
</html>