{% extends 'picks/base.html' %}

{% block content %}

    <div class="col-md-4 col-md-offset-4">
        <h1 id="title">Please make your Selections!</h1>
    </div>
    <div class="container p-none">
        <div class="col-md-10 col-md-offset-1 picks-form">
            {% load index %}
            <form method="post">
                {% csrf_token %}
                {% if formset.non_form_errors %}
                    <div class="alert alert-danger">
                        {{ formset.non_form_errors }}
                    </div>
                {% endif %}
                <table class="table">
                    <tr>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Your selection</th>
                        <th>Margin of Victory</th>
                    </tr>
                {% for game in games %}
                    <tr>
                    {% if game.home_team_id == game.underdog %}
                        <td class="red">{{ game.home_team_name }}</td>
                        <td>{{ game.away_team_name }}</td>
                    {% else %}
                        <td>{{ game.home_team_name }}</td>
                        <td class="red">{{ game.away_team_name }}</td>
                    {% endif %}
                    <div class="form-group">
                        {{ formset.management_form }}
                        <td>{{ formset|team_picked:forloop.counter0 }}</td>
                        <td>{{ formset|margin:forloop.counter0 }}</td>
                    </div>
                    </tr>
                {% endfor %}
                </table>
                <div class="extra-bottom-padding">
                    <input class="btn btn-primary" type="submit" value="Submit Picks"/>
                    <a class="btn btn-default" href="/home/">Go Home</a>
                    <span id="scoring-popup" class="glyphicon glyphicon-question-sign" title="Click for Scoring Rules"></span>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block modal %}
    <div id="scoring-modal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Scoring Rules</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Correct picks result in the following possibilities:</li>
                        <ul>
                            <li>If the team is not the underdog: 3pts</li>
                            <li>If the team is the underdog: 4pts</li>
                        </ul>
                        (Underdog is represented in red)
                        <li>
                            If the team is picked correctly and the margin is correct: 2pts
                        </li>
                        <li>
                            If the team is picked correctly and the margin is within 1 goal: 1pt
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-close" data-dismiss="scoring-modal">Close
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}