{% extends 'picks/base.html' %}

{% block content %}

    <div class="container p-none">
        <div class="col-md-4 col-md-offset-4 picks-form">
            <h1>Make Your Picks!</h1>
            {% load index %}
            <form method="post">
                {% csrf_token %}
                {% if formset.non_form_errors %}
                <div class="alert alert-danger">
                    {{ formset.non_form_errors }}
                </div>
                {% endif %}
                {% for game in games %}
                    <div class="form-group">
                        <li>{{ game.home_team_name }} vs {{ game.away_team_name }}</li>
                        {{ formset.management_form }}
                        <p>Team picked: {{ formset|team_picked:forloop.counter0 }}</p>
                        <p>Margin: {{ formset|margin:forloop.counter0 }}</p>
                    </div>
                {% endfor %}
                <div>
                    <input class="btn btn-primary" type="submit" value="Submit Picks" />
                    <a class="btn btn-default" href="/home/">Go back</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}