{%  extends 'registration/base.html' %}

{% block content %}
<div id="content-container" class="container p-none">
    <div class="col-lg-4 col-lg-offset-4">
        <h2 class="vertical-center form-group">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="buttons" class="col-md-offset-2">
                <button class="btn btn-primary" type="submit">Login</button>
                <a class="btn btn-default" href="/registration/register">Register</a>
            </div>
            <a class="btn btn-link col-md-offset-2">Forgot Password?</a>
        </form>
    </div>
</div>
{% endblock %}