{%  extends 'registration/base.html' %}

{% block content %}
    {% load crispy_forms_filters %}
    <div id="content-container" class="container p-none">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 class="vertical-center form-group">Login</h2>
            <form class="form-group" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <div id="buttons" class="col-md-offset-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-default" href="/registration/register">Register</a>
                    <a class="btn btn-link" title="Haha, just text me">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}